 
.row {
	padding: 10px;
	border-bottom: 1px dashed #999;
}

.window-software {
	font-size: 130%;
}
.window-title {
	color: #666;
}
.repeat-snapshots {
	display: none;
	padding-left: 30px;
}
.repeat-snapshots span {
	font-size:14px;
}
.window-all {
	display: none;
}

div.selected {
	background-color: #c6dcff;
}

/* Disable text selection */
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}